---
caasp-masters:
  hosts:
{% for master_ip in _terraform_json_output.ip_masters.value %}
    master-{{ loop.index0 }}:
      ansible_host: {{ master_ip }}
{% endfor %}
  vars:
    ansible_user: sles
    ansible_python_interpreter: /usr/bin/python3

caasp-workers:
  hosts:
{% for worker_ip in _terraform_json_output.ip_workers.value %}
    worker-{{ loop.index0 }}:
      ansible_host: {{ worker_ip }}
{% endfor %}
  vars:
    ansible_user: sles
    ansible_python_interpreter: /usr/bin/python3

airship-openstack-control-workers:
  hosts: &first_workers
{% for worker_ip in _terraform_json_output.ip_workers.value %}
    worker-{{ loop.index0 }}:
      ansible_host: {{ worker_ip }}
{% endfor %}
  vars:
    ansible_user: sles
    ansible_python_interpreter: /usr/bin/python3

airship-ucp-workers:
  hosts: *first_workers
  vars:
    ansible_user: sles
    ansible_python_interpreter: /usr/bin/python3

airship-openstack-compute-workers:
  hosts:
{% for worker_ip in _terraform_json_output.ip_workers.value %}
{% if loop.index0 >= airship_ucp_control_workers %}
    worker-{{ loop.index0}}:
      ansible_host: {{ worker_ip }}
{% endif %}
{% endfor %}
  vars:
    ansible_user: sles
    ansible_python_interpreter: /usr/bin/python3

airship-kube-system-workers:
  hosts: *first_workers
  vars:
    ansible_user: sles
    ansible_python_interpreter: /usr/bin/python3
