# This file is managed by ansible and based on terraform.tfvars.ci.example from github.com/SUSE/skuba/ci/infra/libvirt/
image_uri = "{{ image_uri }}"
username = "{{ image_username }}"
password = "{{ image_password }}"

stack_name = "{{ stack_name }}"

network_cidr = "10.17.0.0/22"
dns_domain = "caasp.local"

lbs = 1
masters = {{ master_count }}
workers = {{ worker_count }}

repositories = {
  caasp_devel = "{{ ibs_mirror_uri }}/Devel:/CaaSP:/4.0/SLE_15_SP1/"
  suse_ca = "{{ ibs_mirror_uri }}/SUSE:/CA/SLE_15_SP1/"
  sle_server_pool = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Product-SLES/15-SP1/x86_64/product/"
  basesystem_pool = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Module-Basesystem/15-SP1/x86_64/product/"
  containers_pool = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Module-Containers/15-SP1/x86_64/product/"
  serverapps_pool = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Module-Server-Applications/15-SP1/x86_64/product/"
  sle_server_updates = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Product-SLES/15-SP1/x86_64/update/"
  basesystem_updates = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Module-Basesystem/15-SP1/x86_64/update/"
  containers_updates = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Module-Containers/15-SP1/x86_64/update/"
  serverapps_updates = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Module-Server-Applications/15-SP1/x86_64/update/"
}

lb_repositories = {
  sle_server_pool    = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Product-SLES/15-SP1/x86_64/product/"
  basesystem_pool    = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Module-Basesystem/15-SP1/x86_64/product/"
  ha_pool            = "{{ rmt_mirror_uri }}/SUSE/Products/SLE-Product-HA/15/x86_64/product/"
  sle_server_updates = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Product-SLES/15-SP1/x86_64/update/"
  basesystem_updates = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Module-Basesystem/15-SP1/x86_64/update/"
  ha_updates         = "{{ rmt_mirror_uri }}/SUSE/Updates/SLE-Product-HA/15/x86_64/update/"
}

packages = [
  "kernel-default",
  "-kernel-default-base",
  "ca-certificates-suse",
  "ceph-common",
  "lvm2"
]

authorized_keys = [
{% for key in authorized_keys %}
  "{{ key }}",
{% endfor %}
]

ntp_servers = [
{% for server in ntp_servers %}
  "{{ server }}",
{% endfor %}
]

