# This file is managed by ansible and based on terraform.tfvars.ci.example from github.com/SUSE/skuba
image_name = "{{ image_name }}"
internal_net = "{{ internal_net }}"
internal_subnet = "{{ internal_subnet }}"
internal_router = "{{ internal_router }}"
external_net = "{{ external_net }}"
stack_name = "{{ stack_name }}"
subnet_cidr = "{{ subnet_cidr }}"
masters = {{ master_count }}
workers = {{ worker_count }}
master_size = "{{ master_flavor }}"
worker_size = "{{ worker_flavor }}"

username = "{{ image_username }}"
password = "{{ image_password }}"

repositories = {
    caasp_40_devel_sle15sp1 = "http://download.suse.de/ibs/Devel:/CaaSP:/4.0/SLE_15_SP1/"
    sle15sp1_pool = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/GA/standard/"
    sle15sp1_update = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/Update/standard/"
    sle15_pool = "http://download.suse.de/ibs/SUSE:/SLE-15:/GA/standard/"
    sle15_update = "http://download.suse.de/ibs/SUSE:/SLE-15:/Update/standard/"
    suse_ca = "http://download.suse.de/ibs/SUSE:/CA/SLE_15_SP1/"
    # TODO remove once updated ceph-common is present in sle15sp1_update (bsc#1142674)
    ses_update_sle15sp1 = "http://download.suse.de/ibs/SUSE:/SLE-15-SP1:/Update:/Products:/SES6/standard/"
}

packages = [
  "kernel-default",
  "-kernel-default-base",
  "ca-certificates-suse",
  "ceph-common"
]

authorized_keys = [
{% for key in authorized_keys %}
  "{{ key }}",
{% endfor %}
]

ntp_servers = [
{% for server in ntp_servers %}
  "{{ server }}",
{% endfor %}
]

