#!/bin/bash

set -e
export DISTRO={{ openvswitch_distro }}
export REGISTRY_URI={{ local_registry_name }}:{{ local_registry_port }}/openstackhelm/
export VERSION={{ openvswitch_image_version }}
export EXTRA_TAG_INFO=""
./openvswitch/build.sh

docker push ${REGISTRY_URI}openvswitch:${VERSION}-${DISTRO}${EXTRA_TAG_INFO}
