# Ansible
*.retry

# CaaSP files
environment.json
misc-files/

# Python files
*.egg-info
*.egg
.installed.cfg
build
dist
eggs
parts
sdist
develop-eggs

# tests
.tox/

# Sphinx
doc/build

# log artifacts
logs/

# NOTE(toabctl): Remove when skuba is a public repo and we can use submodules
# for now, submodules/skuba needs to be a local symlink to the SUSE/skuba checkout
submodules/skuba