[submodule "submodules/kubic-project-automation"]
	path = submodules/kubic-project-automation
	url = https://github.com/kubic-project/automation.git
[submodule "submodules/ansible-config_template"]
	path = submodules/ansible-config_template
	url = https://github.com/openstack/ansible-config_template.git
