---
# TODO - align hardcoded values with defaults in SES
# TODO - break out hardcoded values into default vars or something
ceph_conf:
  cluster_network: {{ hostvars['ses'].conf_options.stdout_lines.4 }}
  fsid: {{ hostvars['ses'].conf_options.stdout_lines.0 }}
  mon_host: {{ hostvars['ses'].conf_options.stdout_lines.2 }}
  mon_initial_members: {{ hostvars['ses'].conf_options.stdout_lines.1 }}
  public_network: {{ hostvars['ses'].conf_options.stdout_lines.3 }}
cinder:
  key: {{ ceph_client_cinder_key }}
  rbd_store_pool: cinder
  rbd_store_user: cinder
cinder-backup:
  key: {{ ceph_client_cinder_backup_key }}
  rbd_store_pool: backups
  rbd_store_user: cinder_backup
nova:
  rbd_store_pool: nova
glance:
  key: {{ ceph_client_glance_key }}
  rbd_store_pool: glance
  rbd_store_user: glance
radosgw_urls: []

