apiVersion: apps/v1
kind: Deployment
metadata:
  name: armada
  namespace: {{ ucp_namespace_name }}
  labels:
    app: armada
spec:
  replicas: 1
  selector:
    matchLabels:
      app: armada
  template:
    metadata:
      labels:
        app: armada
    spec:
      serviceAccountName: armada
      containers:
      - name: armada
        image: "{{ suse_airship_registry_location }}/airshipit/armada:{{ suse_airship_components_image_tag['armada'] }}"
        ports:
        - containerPort: 8000
      nodeSelector:
        ucp-control-plane: enabled
