apiVersion: apps/v1
kind: Deployment
metadata:
  name: armada
  namespace: {{ ucp_namespace_name }}
  labels:
    app: armada
spec:
  replicas: 1
  selector:
    matchLabels:
      app: armada
  template:
    metadata:
      labels:
        app: armada
    spec:
      serviceAccountName: armada
      containers:
      - name: armada
        image: "{{ suse_airship_registry_location }}/airshipit/armada:{{ suse_airship_components_image_tag['armada'] }}"
        ports:
        - containerPort: 8000
        # volume needed to store metrics, otherwise aramada pod fails to create the dir to store those
        # https://github.com/airshipit/armada/commit/0721ed43aa17e913bd6603d26ca7249a0abfc0b1
        volumeMounts:
        - name: tmp-armada
          mountPath: /tmp/armada/metrics
      volumes:
      - name: tmp-armada
        emptyDir: {}
      nodeSelector:
        ucp-control-plane: enabled
