---
storage: rbd
conf:
  ceph:
    enabled: true
    monitors: {{ suse_osh_deploy_ceph_mons }}
    admin_keyring: {{ ceph_admin_keyring_b64key | b64decode }}
  glance:
    glance_store:
      rbd_store_user: "{{ ses_cluster_configuration.glance.rbd_store_user }}"
      rbd_store_pool: "{{ ses_cluster_configuration.glance.rbd_store_pool }}"
{{ lookup('template','files/common-images-overrides.yml') | from_yaml | to_nice_yaml(indent=2) }}
