---
apiVersion: v1
kind: Secret
metadata:
  name: {{ suse_osh_deploy_storage.adminSecretName }}
  namespace: {{ suse_osh_deploy_storage.adminSecretNamespace }}
type: "kubernetes.io/rbd"
data:
  key: {{ ceph_admin_keyring_b64key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ suse_osh_deploy_storage.userSecretName }}
  namespace: {{ suse_osh_deploy_storage.userSecretNamespace }}
type: "kubernetes.io/rbd"
data:
  key: {{ ceph_user_keyring_b64key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cinder-client-key
  namespace: openstack
type: "kubernetes.io/rbd"
data:
  key: {{ ses_cluster_configuration.cinder.key | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cinder-backup-client-key
  namespace: openstack
type: "kubernetes.io/rbd"
data:
  key: {{ ses_cluster_configuration.cinder_backup.key | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: glance-client-key
  namespace: openstack
type: "kubernetes.io/rbd"
data:
  key: {{ ses_cluster_configuration.glance.key | b64encode }}
