---
# tasks file for suse-osh-deploy

- name: Pre-flight checks for the role
  assert:
    that:
      - ceph_admin_keyring_b64key is defined
      - ceph_user_keyring_b64key is defined
      - ceph_monitors_ips is defined
      - suse_osh_deploy_vip_with_cidr is defined

- name: Set monitors data
  set_fact:
    suse_osh_deploy_ceph_mons:  "{% for ip in ceph_conf.mon_host.split(',') %}{{ ip }}:6789{% if not loop.last %},{% endif %}{% endfor %}"
  tags:
    - always
    - run

- name: Install system packages
  package:
    name: "{{ suse_osh_deploy_packages }}"
    state: present
  register: install_packages
  until: install_packages is success
  retries: 5
  delay: 2
  tags:
    - install

- name: Ensure kubectl is installed
  include: kubectl-install.yml
  tags:
    - install

- name: Ensure helm and tiller are up to date
  include: helm-install.yml
  tags:
    - install

# TODO(evrardjp): Replace this with systemd service
- name: Ensure helm runs on localhost
  include: helm-run.yml
  tags:
    - run

- name: Enrol nodes for CCP
  include: enroll-caasp-nodes-for-osh.yml
  tags:
    - run

- name: Ensure VIP is present in /etc/hosts for the services to deploy
  blockinfile:
    path: /etc/hosts
    block: |
      {{ suse_osh_deploy_vip_with_cidr | ipaddr('address') }} keystone keystone.openstack.svc.cluster.local
      {{ suse_osh_deploy_vip_with_cidr | ipaddr('address') }} glance glance.openstack.svc.cluster.local
      {{ suse_osh_deploy_vip_with_cidr | ipaddr('address') }} cinder cinder.openstack.svc.cluster.local
      {{ suse_osh_deploy_vip_with_cidr | ipaddr('address') }} nova nova.openstack.svc.cluster.local
      {{ suse_osh_deploy_vip_with_cidr | ipaddr('address') }} neutron neutron.openstack.svc.cluster.local
      {{ suse_osh_deploy_vip_with_cidr | ipaddr('address') }} horizon horizon.openstack.svc.cluster.local

- name: Fetch OSH code
  include: code-install.yml
  tags:
    - install

# NOTE: This task should stay close to code-install, so that no race condition
# happens between the git-cloning, an eventual failure, and the building of the charts.
- name: Build infra charts
  make:
    chdir: /opt/openstack-helm-infra
    target: all
  when: _gitclone is changed
  tags:
    - install

- name: Create privileged ClusterRoleBinding for ServiceAccounts
  include: privileged-cluster-role-binding.yml
  tags:
    - run

# TODO(evrardjp): Use mechanism like glance to re-use component-install.yml code and allow any override.
- name: Setup openstack CLIs
  shell: ./tools/deployment/multinode/010-setup-client.sh
  args:
    executable: /bin/bash
    chdir: /opt/openstack-helm
  tags:
    - run

# TODO(evrardjp): Follow on https://review.openstack.org/#/c/605005/
- name: Use a different ingress script as long as upstream does not support overrides
  copy:
    src: 020-ingress.sh
    dest: /opt/openstack-helm/tools/deployment/multinode/020-ingress.sh
    mode: '0755'
  tags:
    - ingress
    - run

- name: Template file for the namespaces ingress
  config_template:
    src: suse-ingress-namespace.yaml.j2
    dest: /tmp/suse-ingress-namespace.yaml
    config_overrides: "{{ suse_osh_deploy_ingress_namespace_yaml_overrides }}"
    config_type: yaml

- name: Setup Basic ingress and namespace
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-ingress-kube-system.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_ingress_kube_system_yaml_overrides }}"
    _cmpnt_runcommand: ./tools/deployment/multinode/020-ingress.sh
  environment:
    OSH_EXTRA_HELM_ARGS_INGRESS_KUBE_SYSTEM: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_INGRESS_KUBE_SYSTEM') | default('', True) }} -f /tmp/suse-ingress-kube-system.yaml"
    OSH_EXTRA_HELM_ARGS_INGRESS_OPENSTACK: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_INGRESS_OPENSTACK') | default('', True) }} -f /tmp/suse-ingress-namespace.yaml"
    OSH_EXTRA_HELM_ARGS_INGRESS_CEPH: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_INGRESS_CEPH') | default('', True) }} -f /tmp/suse-ingress-namespace.yaml"
  tags:
    - ingress
    - run

# TODO(evrardjp): Improve idempotency
- name: Add ceph secrets to k8s
  include: ceph-secrets.yml
  tags:
    - run

- name: Deploy mariadb
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-mariadb.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_mariadb_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/050-mariadb.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_MARIADB: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_MARIADB') | default('', True) }} -f /tmp/suse-mariadb.yaml"
- name: Register secret UUID for cinder client
  shell: "kubectl get secret cinder-client-key -n openstack -o json | jq -r .metadata.uid"
  register: cinder_client_key_secret_uuid

- name: Register secret UUID for cinder-backup client
  shell: "kubectl get secret cinder-backup-client-key -n openstack -o json | jq -r .metadata.uid"
  register: cinder_backup_client_key_secret_uuid

- name: Register secret UUID for glance client
  shell: "kubectl get secret glance-client-key -n openstack -o json | jq -r .metadata.uid"
  register: glance_client_key_secret_uuid

- name: Create privileged ClusterRoleBinding for ServiceAccounts
  include: privileged-cluster-role-binding.yml
  tags:
    - mariadb
    - run

- name: Deploy rabbitmq
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-rabbitmq.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_rabbitmq_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/060-rabbitmq.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_RABBITMQ: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_RABBITMQ') | default('', True) }} -f /tmp/suse-rabbitmq.yaml"
  tags:
    - rabbitmq
    - run

- name: Deploy memcached
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-memcached.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_memcached_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/070-memcached.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_MEMCACHED: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_MEMCACHED') | default('', True) }} -f /tmp/suse-memcached.yaml"
  tags:
    - memcached
    - run

# Keystone should be kept separate as its one failing.
- name: Deploy keystone, ignore errors due to SCRD-4677. #https://jira.suse.de/browse/SCRD-4677.
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-keystone.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_keystone_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/080-keystone.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_KEYSTONE: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_KEYSTONE') | default('', True) }} -f /tmp/suse-keystone.yaml"
  tags:
    - keystone
    - run

  #TODO(evrardjp): Remove the next two tasks by an appropriate include in tasks/main
  #when https://review.openstack.org/#/c/586992 is merged
- name: Copy ceph provisioner
  template:
    src: 046-ceph-deploy-with-existing-ceph.sh.j2
    dest: "/opt/openstack-helm/tools/deployment/developer/ceph/046-ceph-deploy-with-existing-ceph.sh"
    mode: "0755"
  tags:
    - run

- name: Execute ceph provisioner
  shell: ../openstack-helm/tools/deployment/developer/ceph/046-ceph-deploy-with-existing-ceph.sh
  args:
    executable: /bin/bash
    chdir: /opt/openstack-helm-infra
  tags:
    - run

- name: Deploy glance
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-glance.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_glance_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/100-glance.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_GLANCE: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_GLANCE') | default('', True) }} -f /tmp/suse-glance.yaml"
  tags:
    - glance
    - run

- name: Find libvirt secret
  shell: |
    kubectl get secrets -n {{ suse_osh_deploy_storage.adminSecretNamespace }} {{ suse_osh_deploy_storage.adminSecretName }} -o json | jq -r .metadata.uid
  changed_when: false
  register: rbd_secret_uuid
  tags:
    - always

- name: Set libvirt secret uuid
  set_fact:
    suse_osh_deploy_libvirt_secret_uuid: "{{ rbd_secret_uuid.stdout_lines[0] }}"
  tags:
    - always

- name: Deploy cinder
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-cinder.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_cinder_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/110-cinder.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_CINDER: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_CINDER') | default('', True) }} -f /tmp/suse-cinder.yaml"
  tags:
    - cinder
    - run

- name: Deploy OVS
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-ovs.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_ovs_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/120-openvswitch.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_OPENVSWITCH: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_OPENVSWITCH') | default('', True) }} -f /tmp/suse-ovs.yaml"
  tags:
    - ovs
    - run

- name: Deploy libvirt
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-libvirt.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_libvirt_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/130-libvirt.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_LIBVIRT: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_LIBVIRT') | default('', True) }} -f /tmp/suse-libvirt.yaml"
  tags:
    - libvirt
    - run

# TODO(evrardjp): Check if need to have our own dummy overrides
# In that case, try to split the shell script upstream in two scripts.
# Compute kit deploys nova and neutron but only nova needs overrides
- name: Deploy compute kit
  import_tasks: component-install.yml
  vars:
    _cmpnt_template: suse-nova.yaml
    _cmpnt_overrides: "{{ suse_osh_deploy_nova_yaml_overrides }}"
    _cmpnt_runcommand: "./tools/deployment/multinode/140-compute-kit.sh"
  environment:
    OSH_EXTRA_HELM_ARGS_NOVA: "{{ lookup('env', 'OSH_EXTRA_HELM_ARGS_NOVA') | default('', True) }} -f /tmp/suse-nova.yaml"
  tags:
    - nova
    - neutron
    - run
