clouds:
  airship:
    region_name: RegionOne
    identity_api_version: 3
    auth:
      username: 'admin'
      password: {{ lookup('password', secrets_location + '/ucp_keystone_admin_password length=20 chars=ascii_letters,digits,_') }}
      project_name: 'admin'
      project_domain_name: 'default'
      user_domain_name: 'default'
      auth_url: 'http://keystone.ucp.svc.cluster.local/v3'
  openstack:
    region_name: RegionOne
    identity_api_version: 3
    auth:
      username: 'admin'
      password: {{ lookup('password', secrets_location + '/osh_keystone_admin_password length=20 chars=ascii_letters,digits,_') }}
      project_name: 'admin'
      project_domain_name: 'default'
      user_domain_name: 'default'
      auth_url: 'http://identity.openstack.svc.cluster.local/v3'
