clouds:
  airship:
    region_name: RegionOne
    identity_api_version: 3
    auth:
      username: 'admin'
      password: {{ lookup('password', secrets_location + '/ucp_keystone_admin_password ' + password_opts) }}
      project_name: 'admin'
      project_domain_name: 'default'
      user_domain_name: 'default'
      auth_url: '{{ ucp_endpoint_http_scheme }}://keystone.{{ ucp_namespace_name }}.{{ cluster_domain_suffix }}:{{ ucp_endpoint_http_port }}/v3'
{% if not (disable_tls_ucp | bool) %}
    cacert: {{ suse_tls_certs_dir  + "/ca_cert.crt" }}
{% endif %}
  openstack:
    region_name: RegionOne
    identity_api_version: 3
    auth:
      username: 'admin'
      password: {{ lookup('password', secrets_location + '/osh_keystone_admin_password ' + password_opts) }}
      project_name: 'admin'
      project_domain_name: 'default'
      user_domain_name: 'default'
      auth_url: '{{ osh_endpoint_http_scheme }}://identity.{{ openstack_namespace_name }}.{{ cluster_domain_suffix }}:{{ osh_endpoint_http_port }}/v3'
{% if not (disable_tls_osh | bool) %}
    cacert: {{ suse_tls_certs_dir  + "/ca_cert.crt" }}
{% endif %}
