---
ceph_conf:
  cluster_network: {{ hostvars[groups['ses_nodes'][0]].conf_options.stdout_lines.4 }}
  fsid: {{ hostvars[groups['ses_nodes'][0]].conf_options.stdout_lines.0 }}
  mon_host: {{ hostvars[groups['ses_nodes'][0]].conf_options.stdout_lines.2 }}
  mon_initial_members: {{ hostvars[groups['ses_nodes'][0]].conf_options.stdout_lines.1 }}
  public_network: {{ hostvars[groups['ses_nodes'][0]].conf_options.stdout_lines.3 }}
cinder:
  key: {{ ceph_client_cinder_key }}
  rbd_store_pool: cinder
  rbd_store_user: cinder
cinder-backup:
  key: {{ ceph_client_cinder_backup_key }}
  rbd_store_pool: backups
  rbd_store_user: cinder_backup
nova:
  rbd_store_pool: nova
glance:
  key: {{ ceph_client_glance_key }}
  rbd_store_pool: glance
  rbd_store_user: glance
{% if radosgw_keystone %}
radosgw_urls: "http://{{ hostvars[groups['ses_nodes'][0]].ansible_default_ipv4.address }}:8080/swift/v1"
{% endif %}
