---
apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: {{ suse_airship_deploy_storage.pool }}
  namespace: rook-ceph
spec:
  failureDomain: host
  replicated:
    size: 3
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: general
provisioner: ceph.rook.io/block
parameters:
  blockPool: {{ suse_airship_deploy_storage.pool }}
  clusterNamespace: rook-ceph
  fstype: xfs
reclaimPolicy: Delete