---
storage: rbd
conf:
  ceph:
    enabled: true
    monitors: {{ ','.join(suse_osh_deploy_ceph_mons) }}
    admin_keyring: {{ ceph_admin_keyring_key }}
  glance:
    glance_store:
      rbd_store_user: {{ ses_cluster_configuration['glance']['rbd_store_user'] }}
      rbd_store_pool: {{ ses_cluster_configuration['glance']['rbd_store_pool'] }}
