---
{% if developer_mode %}
conf:
  apache2:
    binary: apache2ctl
    start_parameters: -DFOREGROUND -k start
    site_dir: /etc/apache2/vhosts.d
    conf_dir: /etc/apache2/conf.d
    a2enmod:
      - rewrite
      - version
  horizon:
    security: |
      <Directory "/var/www">
      Options Indexes FollowSymLinks
      AllowOverride All
      <IfModule !mod_access_compat.c>
        Require all granted
      </IfModule>
      <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
      </IfModule>
      </Directory>
images:
  tags:
    db_drop: "{{ suse_osh_registry_location }}/openstackhelm/heat:{{ suse_openstack_image_version }}"
    db_init: "{{ suse_osh_registry_location }}/openstackhelm/heat:{{ suse_openstack_image_version }}"
    horizon_db_sync: "{{ suse_osh_registry_location }}/openstackhelm/horizon:{{ suse_openstack_image_version }}"
    horizon: "{{ suse_osh_registry_location }}/openstackhelm/horizon:{{ suse_openstack_image_version }}"
{%  endif %}