---
pod:
  replicas:
    error_page: 2
deployment:
  mode: cluster
  type: DaemonSet
network:
  host_namespace: true
  vip:
    manage: true
    # what type of vip manage machanism will be used
    # possible options: routed, keepalived
    mode: routed
    interface: ingress-vip
    addr: {{ socok8s_ext_vip }}
    external_policy_local: true
{{ lookup('template','files/common-images-overrides.yml') | from_yaml | to_nice_yaml(indent=2) }}
