conf:
  nova:
    cache:
      # workaround for memcached not working under python3, remove once this patch is merged:
      # https://review.openstack.org/#/c/640500/
      enabled: false
  ceph:
    enabled: true
    admin_keyring: {{ ceph_admin_keyring_key }}
    cinder:
      user: {{ ses_cluster_configuration['cinder']['rbd_store_user'] }}
      keyring: {{ suse_ses_cinder_pool_key | default(ceph_admin_keyring_key) }}
      secret_uuid: {{ libvirt_ceph_cinder_secret_uuid }}
{{ lookup('template','files/common-images-overrides.yml') | from_yaml | to_nice_yaml(indent=2) }}
